@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body,
html {
  /* width: 100%;
    height: 100%; */
  font-family: "Press Start 2P", cursive;
  background: black;
  color: white;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

#ui {
  display: none;
  margin-bottom: 20px;
}

canvas {
  display: none;
  /* border-top: 2px solid white;
    border-bottom: 2px solid white; */
  cursor: none;
  border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb(255,255,255)" /></svg>');
  border-image-outset: 2;
  border-image-slice: 2;
  border-image-width: 2;
  border-image-repeat: stretch;
  border-style: solid;
  border-width: 4px;
}

button {
  font-family: "Press Start 2P", cursive;
  font-size: 20px;
  border-image-slice: 2;
  border-image-width: 2;
  border-image-repeat: stretch;
  /* border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb(33,37,41)" /></svg>'); */
  border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb(255,255,255)" /></svg>');
  border-image-outset: 2;
  position: relative;
  display: inline-block;
  padding: 6px 8px;
  margin: 4px;
  text-align: center;
  vertical-align: middle;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC)
      14 0,
    pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #212529;
  background-color: #fff;
  border-style: solid;
  border-width: 4px;
}

button:focus {
  outline: none;
}

.btn-primary {
  color: #fff;
  background-color: #209cee;
}
.btn-primary::after {
  position: absolute;
  top: -4px;
  right: -4px;
  bottom: -4px;
  left: -4px;
  content: "";
  box-shadow: inset -4px -4px #006bb3;
}
.btn-primary:hover {
  color: #fff;
  text-decoration: none;
  background-color: #108de0;
}
.btn-primary:focus {
  box-shadow: 0 0 0 6px rgba(0, 107, 179, 0.3);
}
.btn-primary:active {
  box-shadow: inset 4px 4px #006bb3;
}

.btn-primary:active:not(.is-disabled)::after {
  box-shadow: inset 4px 4px #006bb3;
}

.group {
  padding: 20px;
  border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb(255,255,255)" /></svg>');
  border-image-outset: 2;
  border-image-slice: 2;
  border-image-width: 2;
  border-image-repeat: stretch;
  border-style: solid;
  border-width: 4px;
  margin: 30px;
}
input {
  border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb(255,255,255)" /></svg>');
  border-image-outset: 2;
  border-image-slice: 2;
  border-image-width: 2;
  border-image-repeat: stretch;
  border-style: solid;
  border-width: 4px;
  font-family: "Press Start 2P", cursive;
}
h3 {
  margin-bottom: 40px;
}
.group p {
  margin-bottom: 40px;
}
#settings-box {
  display: none;
}
.copy {
  margin-top: 50px;
}

.anim-shake {
  animation: wiggle 0.4s infinite alternate;
}
.anim-hide {
  animation: hide 0.7s infinite alternate;
}

@keyframes wiggle {
  0% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(2deg);
  }
}

@keyframes hide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
